@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px; /* Kaydırma çubuğu genişliği */
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #8b5cf6; /* Mor renk */
    border-radius: 8px;
    padding-left: 2px;
    border: 2px solid transparent; /* Kenar boşluğu oluşturur */
    box-sizing: border-box; /* Kenar boşluğunu çubuğun içine dahil eder */
  }
}
